html.dev body {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	min-width: 320px;
	place-items: center;

	liferay-marketplace-custom-element {
		flex: 1;
	}
}
