@import 'components/input';

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.popover {
	max-width: 900px !important;
	width: 480px !important;
	z-index: 9;
}

.testray-multi-select__clear-indicator {
	display: none !important;
}

.popover .inline-scroller {
	max-height: unset !important;
}

.filter-popover {
	padding: 0 !important;
	width: 300px !important;

	& .filter-search {
		background-color: #fff;
		overflow: none;
		position: sticky;
		top: 0;
		z-index: 9;
	}

	& .form-renderer {
		padding: 16px;
	}

	.popover-body {
		max-height: 600px !important;
		padding: 0;
	}
}

.compare-runs-popover {
	top: 210px !important;
	z-index: 98;
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-menu {
	z-index: 9999;
}

.portlet {
	margin-bottom: 0;
}

body {
	font-size: 100%;
	list-style-type: none;
}

.dropdown-section .custom-control-label {
	color: unset;
}

.management-bar {
	div:nth-child(1) {
		max-width: none;
	}

	.navbar-nav {
		flex-wrap: initial;
	}
}

.subnav-tbar {
	background-color: #b3cdff;

	div:nth-child(1) {
		max-width: none;
	}
}

.management-toolbar-filter-dropdown {
	max-height: 800px;
	width: 300px;

	label {
		font-size: 14px;
		font-weight: normal !important;
	}

	.form-control {
		margin-bottom: 15px;
	}
}

.dropdown-header {
	.form-control {
		margin: 0;
	}
}

.dropdown-scrollbar {
	max-height: 100px;
	overflow-y: scroll;
}

.popover-body {
	max-height: 580px;
	min-height: 100px;
	overflow-y: auto;
}

.popover-footer {
	background-color: #fff;
	bottom: 0;
	padding: 3px 16px 16px;
	position: sticky;
	z-index: 999;
}
