@import 'components/input';

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.popover {
	max-width: 900px !important;
	width: 480px !important;
	z-index: 9;
}

.testray-multi-select__clear-indicator {
	display: none !important;
}

.popover .inline-scroller {
	max-height: unset !important;
}

.compare-runs-popover {
	top: 210px !important;
	z-index: 98;
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-menu {
	z-index: 9999;
}

.portlet {
	margin-bottom: 0;
}

body {
	font-size: 100%;
	list-style-type: none;
	max-height: 100vh !important;
	overflow: hidden;
}

html {
	height: 100vh;
	overflow: hidden;
}

.dropdown-section .custom-control-label {
	color: unset;
}

.management-bar {
	div:nth-child(1) {
		max-width: none;
	}

	.navbar-nav {
		flex-wrap: initial;
	}
}

.subnav-tbar {
	background-color: #b3cdff;

	div:nth-child(1) {
		max-width: none;
	}
}

.management-toolbar-filter-dropdown {
	max-height: 800px;
	overflow-y: hidden;
	width: 300px;

	label {
		font-size: 14px;
		font-weight: normal !important;
	}

	.form-control {
		margin-bottom: 15px;
	}
}

.dropdown-header {
	.form-control {
		margin: 0;
	}
}

.dropdown-scrollbar {
	max-height: 100px;
	overflow-y: scroll;
}

.popover-body {
	max-height: 580px;
	min-height: 100px;
	overflow-y: auto;
}

.popover-footer {
	background-color: #fff;
	bottom: 0;
	padding: 3px 16px 16px;
	position: relative;
	z-index: 999;
}

.popover-filter {
	&.popover {
		width: 300px !important;
		z-index: 999;
	}

	.popover-body {
		max-height: 590px !important;
		min-height: 350px !important;
		overflow-y: hidden !important;
		padding: 0;
	}

	.body-filters {
		max-height: 390px !important;
		min-height: 180px !important;
		overflow-y: none;
	}

	.dropdown-header {
		background-color: #fff;
		position: sticky;
		top: 0;
		z-index: 999;

		.form-control {
			margin: 0;
		}
	}

	.popover-filter-content {
		max-height: 350px;
		min-height: 180px;
		overflow-y: auto;
		padding: 0 16px;
	}

	.popover-footer {
		background-color: #fff;
		padding: 5px 16px 16px;
		position: sticky;
		top: 0;
		z-index: 99;
	}

	.inline-scroller {
		overflow-x: hidden;
	}
}

.filter-button {
	height: fit-content !important;
	width: fit-content !important;
}
