.lfr-forms {
	&__form-view-ddm-target {
		align-items: center;
		display: flex;
		height: 16px;
		width: 100%;

		&.lfr-forms__form-view-ddm-target-over > span {
			background-color: #0b5fff;
			border-radius: 2px;
			display: inline-block;
			height: 2px;
			width: 100%;
		}
	}

	&__form-view-field-repeatable-dnd {
		padding: 4px;
		position: relative;

		&:focus,
		&:focus-within,
		&:hover {
			background: transparent;
			border-radius: 0 4px 4px;
			box-shadow: 0 0 0 0.125rem #0b5fff;
			cursor: grabbing;

			.lfr-forms__form-view-field-topbar {
				display: flex;
			}
		}

		.ddm-field-types-fieldset__nested {
			margin: 0;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	&__form-view-field-dragging {
		background-color: #fff;
		border: 2px dashed #a7a9bc;
		border-radius: 4px;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
		opacity: 0.7;
		padding: 2px 6px 6px !important;
		z-index: 10;
	}

	&__form-view-field-topbar {
		align-items: center;
		background-color: #0b5fff;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		color: #fff;
		display: none;
		font-size: 14px;
		font-weight: 600;
		height: 28px;
		left: -2px;
		padding: 0 9px 0 8px;
		position: absolute;
		top: -28px;
		z-index: 10;
	}
}
