.tr-code {
	background-color: $color-gray-lighter;
	color: $color-gray-dark;
	display: inline-block;
	font-style: italic;
	padding: 0.5rem;
	width: 100%;
	word-break: break-word;
	word-wrap: break-word;
}
