.ddm-select-option-label {
	.label-item {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.lfr__ddm-form-field-type-select-arrow-down {
	margin-left: auto;
}
