.dashboard-table {
	&-container {
		table-layout: fixed;
	}

	&-header-name {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		&-icon {
			height: 1rem;
			width: 1rem;
			filter: invert(66%) sepia(2%) saturate(933%) hue-rotate(197deg)
				brightness(93%) contrast(91%);
		}
	}

	&-header-text {
		color: #6c6c75;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1rem;
	}
}
