.image-file-item {
	&-container {
		align-items: center;
		border: 1.5px solid #e2e2e4;
		border-radius: 0.625rem;
		display: flex;
		height: 8.5rem;
		margin-bottom: 1.5rem;
		padding: 1rem;
		width: 37.5rem;
	}

	&-arrow {
		&-container {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 3.5rem;
			justify-content: center;
			margin-right: 1.5rem;
		}

		&-icon {
			height: 1rem;
			width: 1rem;
			filter: invert(18%) sepia(36%) saturate(526%) hue-rotate(170deg)
				brightness(95%) contrast(89%);
		}
	}

	&-uploaded-preview {
		background-position: 50% 50%;
		background-repeat: 'no-repeat';
		background-size: cover;
		border-radius: 0.625rem;
		height: 6.5rem;
		margin-right: 1rem;
		width: 6.5rem;
	}

	&-info {
		&-container {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			justify-content: center;
			margin-top: 0.75rem;
			width: 75%;
		}

		&-content {
			align-items: center;
			display: flex;
			justify-content: space-between;

			&-text {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1rem;
				font-weight: 400;
				line-break: break-all;
				line-height: 1.5rem;
			}

			&-button {
				background-color: transparent;
				border: 1.5px solid #2b3a4b;
				border-radius: 0.375rem;
				color: #2b3a4b;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 0.875;
				font-weight: 600;
				height: 2rem;
				line-height: 1rem;
				width: 4.563rem;

				&:hover {
					background-color: #2b3a4b;
					color: #fff;
				}

				transition: background-color 0.3s;
				transition: color 0.3s;
			}
		}

		&-input {
			border: 1px solid #999aa3;
			border-radius: 0.5rem;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1rem;
			font-weight: 400;
			height: 3rem;
			line-height: 1.5rem;
			margin-right: 0.5rem;
			padding-left: 1rem;
			padding-left: 0.75rem;
			width: 95%;

			&::-webkit-input-placeholder {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5rem;
				padding-left: 0.75rem;
			}

			&-container {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}
