.tr-header-container {
	-o-transition: $transition;
	-webkit-transition: $transition;
	background-color: $color-white;
	border-bottom: 1px solid $color-gray-light;
	box-shadow: 0 2px 4px 0 rgb(38 47 87 / 5%);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: fit-content;
	padding: 20px 20px 0;
	position: sticky;
	top: 0;
	transition: $transition;
	z-index: 1;

	&__tabs {
		margin-left: 16px;
		.nav-item button {
			color: $color-gray;
			font-size: 16px;
			font-weight: 500;
		}

		.nav-item {
			margin-right: 40px;
		}

		.nav-link {
			border: none;
			padding-left: 0;
			padding-right: 0;
		}

		.nav-link.active {
			color: $color-primary;
			font-size: 16px;
			font-weight: 500;
		}

		.nav-link.active::after {
			background-color: $color-primary;
		}
	}

	&__item {
		color: $color-black;
		text-decoration: none;

		small {
			cursor: default;
		}

		&__title:not(:last-child) {
			&:hover {
				text-decoration: underline;
			}
			display: flex;
			flex-direction: column;
			max-width: 250px;
			min-width: 1.2em;
			overflow: hidden;
			text-align: justify;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
		}
	}
}
