.storefront-page {
	&-container {
		width: 37.5rem;
	}

	&-info {
		&-container {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5rem;
		}

		&-text {
			color: #282934;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.5rem;
		}

		&-button {
			background-color: transparent;
			border: none;
			border-radius: 0.375rem;
			color: #0b5fff;
			height: 2rem;
			width: 5.813rem;

			&:hover {
				background-color: #edf3fe;
			}

			transition: background-color 0.3s;
		}
	}
}
