[#assign layoutURL = (themeDisplay.getPortalURL() + themeDisplay.getURLCurrent())! /]
[#assign objectRequest = (request.getAttribute("INFO_ITEM_REFERENCE"))! /]
[#assign requestId = objectRequest.classPK! /]
[#assign URL = (layoutURL?substring(0, layoutURL?lastIndexOf('/')))! /]
[#assign approvedRoles =["Administrator", "Finance Manager"]/]
[#assign userRoles = permissionChecker.getUserBag().getRoles()/]

<div id="evp-kebab-button">
[@liferay_ui["icon-menu"]
direction="left-side"
markupView="lexicon"
showWhenSingleIcon=true
]
[@liferay_ui["icon"]
message="Details"
url=URL + "/l/" + requestId
/]

[#list userRoles as role]
[#if approvedRoles?seqContains(role.name)]

[@liferay_ui["icon"]
message="Invoice"
url=URL + "/payment-confirmation?id=" + requestId
/]

[#break] [/#if] [/#list]
[/@]
</div>