.adm-hidden {
	display: none !important;
}

div.adm-block {
	border-radius: 8px;
	margin: $spacing-md 0;
	padding: $spacing-md $spacing-default;

	&.adm-error {
		background-color: $admonition-error-bg;

		.adm-heading span {
			color: $admonition-error;
		}
	}

	&.adm-important {
		background-color: $admonition-important-bg;

		.adm-heading span {
			color: $admonition-important;
		}
	}

	&.adm-note {
		background-color: $admonition-note-bg;

		.adm-heading span {
			color: $admonition-note;
		}
	}

	&.adm-tip {
		background-color: $admonition-tip-bg;

		.adm-heading span {
			color: $admonition-tip;
		}
	}

	&.adm-warning {
		background-color: $admonition-warning-bg;

		.adm-heading span {
			color: $admonition-warning;
		}
	}

	.adm-body {
		color: $color-neutral-10;
		margin: 0 0 0 2rem;

		p {
			margin: 0;
		}
	}

	.adm-heading span {
		font-weight: $font-weight-semi-bold;
		margin-bottom: 0.25rem;
		margin-left: 0.5rem;
		text-transform: uppercase;
	}

	.adm-icon {
		height: 24px;
		width: 24px;
	}
}
