.article-breadcrumb {
	display: inline-flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		color: $color-neutral-7;
		font-size: $breadcrumb-font-size;
		line-height: 1rem;

		+ li {
			&::before {
				content: '/';
				padding: 0 4px;
			}
		}

		a {
			color: $color-neutral-7;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
