.documentations {
	.article-body {
		margin-top: $spacing-default;

		@include media-breakpoint-up(md) {
			margin-bottom: 5rem;
			padding: 0 8.33333% $spacing-default;
		}
	}

	.doc-body,
	.doc-nav-wrapper,
	.doc-nav-wrapper-inner {
		padding: 0;
	}

	.doc-content {
		@include media-breakpoint-up(md) {
			margin-top: $info-bar-height;
		}
	}

	.doc-nav,
	.doc-nav-wrapper {
		background-color: $background-color;
	}

	.doc-nav {
		font-weight: $font-weight-semi-bold;
		height: calc(100% - #{$footer-height});
		overflow: auto;
		padding: $spacing-md 0;

		> ul {
			margin: 0;
		}

		a {
			border-left: 3px solid transparent;
			color: $color-neutral-6;
			display: block;
			padding: $spacing-xs $spacing-default $spacing-xs $spacing-md;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		.back-link {
			align-items: center;
			display: flex;
			font-size: 1.125rem;
			font-weight: $font-weight-semi-bold;
			padding-left: $spacing-md;
			width: 100%;

			svg {
				fill: $color-neutral-6;
				height: $spacing-default;
				padding-right: $spacing-sm;
				width: $spacing-default;
			}
		}

		.toctree-l1 {
			&.active a {
				color: $primary;
			}

			&.current {
				> a {
					background-image: none;
					border-left-color: $primary;
					color: $color-neutral-10;
				}
			}

			> a {
				background-image: clay-icon(angle-right, $color-neutral-5);
				background-position: right 0.8rem top $spacing-md;
				background-repeat: no-repeat;
				background-size: 0.65rem;
				color: $color-neutral-6;
				font-size: 1.125rem;
			}
		}

		.toctree-l2,
		.toctree-l3,
		.toctree-l4,
		.toctree-l5,
		.toctree-l6 {
			font-size: $h5-font-size;

			&.current {
				&.parent-level > a {
					background-image: none;
					border-left-color: $primary;
					color: inherit;
					font-size: initial;
					padding: $spacing-xs $spacing-default $spacing-xs
						$spacing-md;
				}

				> a {
					color: $primary;
				}
			}

			> a {
				padding: $spacing-xs 2rem;
			}
		}
	}

	.doc-nav-wrapper {
		&.mobile-nav-hide {
			.collapse-btn {
				display: none;
			}

			.expand-btn {
				display: block;
			}

			@include media-breakpoint-down(sm) {
				.doc-nav {
					display: none;
				}
			}
		}

		.collapse-btn,
		.doc-nav {
			display: block;
		}

		.expand-btn {
			display: none;
		}
	}

	.doc-nav-wrapper-inner {
		@include media-breakpoint-up(md) {
			height: calc(100vh - #{$header-height});
			max-width: 16.66667%;
			position: fixed;
			width: 100%;
			z-index: 1;
		}
	}

	.info-bar {
		align-items: center;
		border-bottom: 1px solid $color-neutral-2;
		display: flex;
		height: $info-bar-height;
		z-index: 1;
	}

	.general-info {
		background-color: $white;

		.actions {
			display: block;

			svg {
				height: 2.375rem;
				width: 2.375rem;
			}
		}

		@include media-breakpoint-up(md) {
			position: fixed;
			width: calc(100% - 16.66667%);
			z-index: 1;
		}
	}

	.mobile-doc-nav-toggler {
		align-items: center;
		display: flex;
		font-weight: $font-weight-semi-bold;
		justify-content: space-between;
		padding: $spacing-xs 0.25rem $spacing-xs $spacing-md;

		button {
			color: $color-action-neutral-default;
		}
	}

	.nav-link {
		color: $default-color;
		font-size: 0.875rem;

		&.active {
			color: $primary;
			font-weight: $font-weight-bold;
		}
	}

	.toc {
		margin-top: $spacing-default;
		max-width: 12%;
		position: fixed;
	}
}
