h1 {
	font-size: $h1-font-size;

	&.display {
		font-size: $h1-display-font-size;
		line-height: 1.17;
	}

	&.title {
		margin-bottom: 0.5rem;
	}

	@media (max-width: 576px) {
		font-size: $mobile-font-size;
		margin-bottom: $spacing-default;

		&.display,
		&.title {
			margin-bottom: 0;
		}

		&.display {
			font-size: $h1-font-size;
			line-height: 1.5;
		}
	}
}

h1,
h2 {
	line-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover  {
	color: $black;
	font-weight: $font-weight-bold;
	margin: 0;
	text-decoration: none;
}

h2 {
	&.display {
		margin-bottom: $spacing-md;
	}

	font-size: $h2-font-size;
	margin-bottom: $spacing-xs;

	@media (max-width: 576px) {
		font-size: $h3-font-size;
	}
}

h3,
h4 {
	line-height: $line-height-base;
}

h3 {
	margin-top: $spacing-sm;
}

h5 {
	font-size: $h5-font-size;
	line-height: 20px;
}

h6 {
	font-size: $h6-font-size;
	letter-spacing: 1px;
	line-height: $h6-line-height;
	text-transform: uppercase;
}

blockquote {
	border-left: 2px solid $primary;
	color: $color-neutral-8;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 20px;
	margin: $spacing-default 0;
	padding-left: $spacing-default;
}

input[type='radio'],
input[type='checkbox'] {
	vertical-align: middle;
}

li {
	img {
		margin: $spacing-md 0;
	}

	p {
		margin-bottom: 0;
	}
}

pre {
	background-color: $default-color;
	margin-top: $spacing-md;
	padding: $spacing-md 1.25rem;

	code {
		background-color: inherit;
		font-weight: $font-weight-light;
	}
}

.documentations {
	h1 {
		margin-bottom: $spacing-md;
	}
}

.lexicon-icon-shortcut {
	height: $spacing-sm;
	margin-left: $spacing-xs;
	width: $spacing-sm;
}

.main-content {
	margin-top: $header-height;
}

.max-820 {
	margin: 0 auto;
	max-width: 820px;
}

.secondary-font {
	font-size: $font-size-sm;
	line-height: $secondary-text-line-height;
}

.semi-bold {
	font-weight: $font-weight-semi-bold;
}

.small {
	line-height: $line-height-sm;
}
