.landing-page {
	display: flex;
	flex-wrap: wrap;

	@include media-breakpoint-down(sm) {
		justify-content: center;
	}
	@include media-breakpoint-down(md) {
		margin-top: $spacing-md;
	}

	.autofit-row-center > .autofit-col {
		justify-content: initial;
	}

	.icon {
		height: 2rem;
		margin-right: $spacing-default;
		width: 2rem;
	}

	.section-card {
		@include card;

		cursor: pointer;
		margin-left: $spacing-md;
		margin-right: $spacing-xs;
		margin-top: $spacing-default;
		padding: 1.25rem $spacing-default;
		transition: transform 0.2s ease;
		width: 45%;

		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			flex: 1 0 100%;
			margin: 0.5rem !important;
		}

		a:hover {
			text-decoration: none;
		}

		h4 {
			&.primary-heading-link {
				color: $primary;
			}

			font-size: 1.125rem;
			margin-bottom: $spacing-xs;
		}
	}

	.show-more {
		color: $primary-d1;
		margin-left: -$spacing-sm;
	}

	.subsection {
		font-weight: $font-weight-semi-bold;
		list-style: none;
		padding-inline-start: 0;
	}
}

.landing-page-container {
	.article-body {
		flex: initial;
		max-width: 100%;
	}

	.toc-container {
		display: none;
	}
}
