.learn-search {
	.input-group-item {
		.input-group {
			.input-group-inset-item .btn {
				padding-right: 1rem;
			}

			.input-group-inset-item-after {
				border-bottom-right-radius: 3rem;
				border-top-right-radius: 3rem;

				.lexicon-icon {
					color: $primary;
					fill: $primary;
					height: 2rem;
					width: 2rem;
				}
			}

			.input-group-inset-after.form-control {
				border-bottom-left-radius: 3rem;
				border-top-left-radius: 3rem;
				font-size: $h5-font-size;
				line-height: 20px;
				padding: 2.25rem;

				&::placeholder {
					font-size: $h5-font-size;
				}
			}
		}
	}
}
