.dashboard-page {
	&-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	&-header-container {
		margin-bottom: 4.5rem;
	}

	&-body {
		&-container {
			display: flex;
			gap: 2rem;
			padding: 1.5rem;
		}

		&-header-container {
			align-items: center;
			display: flex;
			justify-content: space-between;

			a {
				margin-left: auto;
			}
		}

		&-header-button {
			background-color: #0053f0;
			border: none;
			border-radius: 0.5rem;
			color: #fff;
			font-size: 1rem;
			font-weight: 600;
			height: 2.5rem;
			line-height: 1.5rem;
			width: 7.313rem;

			&:hover {
				background-color: #ffff;
				border: 1px solid #0053f0;
				color: #0053f0;
			}

			transition: background-color 0.3s;
			transition: border 0.3s;
			transition: color 0.3s;
		}
	}
}
