[#assign layoutURL = (themeDisplay.getPortalURL() + themeDisplay.getURLCurrent())! /]
[#assign objectRequest = (request.getAttribute("INFO_ITEM_REFERENCE"))! /]
[#assign requestId = objectRequest.classPK! /]
[#assign URL = (layoutURL?substring(0, layoutURL?lastIndexOf('/')))! /]

<div id="evp-organization-kebab-button">
	[@liferay_ui["icon-menu"]
		direction="left-side"
		markupView="lexicon"
		showWhenSingleIcon=true
	]

		[@liferay_ui["icon"]
			message="Details"
			url=URL + "/l/" + requestId
		/]

	[/@]
</div>