.dashboard-navigation-body-list-item {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;

	transition: background-color 0.3s;

	&:hover {
		background-color: #e6edfb;
	}

	&-selected {
		background-color: #e6edfb;
	}

	&-app-logo {
		height: 1.5rem;
		margin-right: 0.75rem;
		width: 1.5rem;
	}

	&-app-title {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1rem;
		margin-right: 0.5rem;
	}

	&-app-version {
		color: #54555f;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.813rem;
		font-weight: 400;
		line-height: 1rem;
	}

	&-app-status {
		height: 0.5rem;
		width: 0.5rem;

		&-published {
			filter: invert(32%) sepia(12%) saturate(6208%) hue-rotate(194deg)
				brightness(90%) contrast(87%);
		}

		&-hidden {
			filter: invert(56%) sepia(4%) saturate(723%) hue-rotate(202deg)
				brightness(91%) contrast(83%);
		}

		&-pending {
			filter: invert(29%) sepia(88%) saturate(3491%) hue-rotate(27deg)
				brightness(96%) contrast(101%);
		}
	}
}
