.dashboard-navigation-body-list {
	align-items: center;
	border-radius: 0.375rem;
	cursor: pointer;
	display: flex;
	height: 2.5rem;
	justify-content: flex-start;
	padding: 1rem 0.75rem;
	width: 16.5rem;

	&-selected {
		background-color: #e6edfb;
	}

	&:hover {
		background-color: #e6edfb;
	}

	transition: background-color 0.3s;

	&-icon {
		height: 1.5rem;
		margin-right: 0.625rem;
		width: 1.5rem;
		filter: invert(33%) sepia(8%) saturate(551%) hue-rotate(197deg)
			brightness(95%) contrast(91%);

		&:hover {
			filter: invert(18%) sepia(87%) saturate(3738%) hue-rotate(218deg)
				brightness(85%) contrast(103%);
		}

		&-selected {
			filter: invert(18%) sepia(87%) saturate(3738%) hue-rotate(218deg)
				brightness(85%) contrast(103%);
		}

		transition: filter 0.3s;
	}

	&-text {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.813rem;
		font-weight: 600;
		line-height: 1.5rem;

		&-selected {
			color: #004ad7;
		}

		&:hover {
			color: #004ad7;
		}

		transition: color 0.3s;
	}
}
