authorizationEndPoint=""
discoveryEndPoint="https://auth.pingone.eu/0343bd51-1627-47ac-b04f-5ad340cf6318/as/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="14875f35-3f5c-454f-b70d-e9ddbc16f266"
openIdConnectClientSecret="fJzw_vKK_uQqG5MHFOV0eR6CG-96FZJ648aXAZZj_aqeKeiwCnYpfjJ--afL5un2"
providerName="PingOne"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""