.next-step-page {
	&-cards {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		margin-top: 1.25rem;
	}
	&-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&-content {
		margin-bottom: 12rem;
		margin-top: 10rem;
		width: 37.5rem;
	}
	&-icon {
		color: #0b5fff;
	}
	&-link {
		a {
			cursor: pointer;
		}
		display: flex;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 600;
		justify-content: flex-end;
		line-height: 24px;
		margin-top: -2rem;
		text-decoration: underline;
	}
	&-text {
		margin-bottom: 2rem;
	}
}
