@import './variations-nav';

.portlet-asset-list-web {
	.timeline-item {
		&:first-child {
			.timeline-increment {
				margin-left: 40px;
			}

			&:before {
				top: 30px;
			}

			.lfr-autorow-controls {
				display: none;
			}
		}

		&:hover > .container-trash.btn {
			opacity: 1;
		}

		.form-group {
			display: inline-block;
			margin: 8px;

			&:first-child {
				margin-left: 0;
			}

			.field-content:after {
				overflow: visible;
			}
		}

		.container-trash {
			position: absolute;
			right: 0;
			top: 0;

			&.btn {
				opacity: 0;

				&:focus {
					opacity: 1;
				}
			}
		}
	}

	.timeline-increment-icon {
		color: $cadmin-white;
		margin-left: 10px;
		margin-top: -55px;
	}
}
