.dropzone-upload {
	&-container {
		align-items: center;
		border: 2px dashed #b1b2b9;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		height: 15rem;
		justify-content: center;
		width: 37.5rem;

		&-active {
			border-color: #78e5d5;
		}

		&-reject {
			border-color: #e57878;
		}

		transition: border-color 0.3s;
	}

	&-document {
		&-container {
			align-items: center;
			background-color: #e6edfb;
			border-radius: 0.563rem;
			display: flex;
			height: 5rem;
			justify-content: center;
			margin-bottom: 1.688rem;
			width: 14.5rem;
		}

		&-icon {
			height: 2rem;
			width: 2rem;
			filter: invert(23%) sepia(90%) saturate(3736%) hue-rotate(217deg)
				brightness(100%) contrast(96%);
		}
	}

	&-text {
		&-container {
			margin-bottom: 0.813rem;
		}

		color: #282934;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}

	&-button {
		background-color: transparent;
		border: none;
		border-radius: 0.375rem;
		height: 2rem;
		width: 5.813rem;

		&:hover {
			background-color: #edf3fe;
		}

		transition: background-color 0.3s;

		&-text {
			color: #0053f0;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1rem;
		}
	}

	&-description {
		color: #6c6c75;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.813rem;
		font-weight: 400;
		line-height: 1rem;
	}
}
