.card-link {
	&-container {
		border: 1px solid #e2e2e4;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		max-width: 37.5rem;
		padding: 1rem;
		width: 100%;

		transition: background-color 0.5s;
		transition: border 0.5s;
	}

	&-main-info {
		align-items: center;
		display: flex;
	}

	&-icon {
		align-items: center;
		background-color: #e2e2e4;
		border-radius: 99px;
		display: flex;
		height: 40px;
		justify-content: center;
		width: 40px;

		&-image {
			height: 16px;
			margin-top: 2px;
			width: 16px;
			filter: invert(20%) sepia(24%) saturate(334%) hue-rotate(196deg)
				brightness(92%) contrast(82%);

			transition: filter 0.5s;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		margin-left: 24px;

		&-text {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 13px;
			font-weight: 400;
			line-height: 16px;
		}

		&-description {
			color: #0b5fff;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
		}
	}

	&-description {
		color: #54555f;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		word-break: break-word;
	}
}
