.dashboard-toolbar {
	&-container {
		display: flex;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: 100vw;
		width: 100%;
	}

	&-navigation-bar-button {
		background-color: #fff !important;

		&-text {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1rem;
			line-height: 1.5rem;

			&-active {
				color: #004ad7;
			}
		}
	}

	&-liferay-icon {
		height: 1.75rem;
		width: 1.75rem;
	}

	&-title-container {
		align-items: center;
		display: flex;
		gap: 0.75rem;
		justify-content: center;
	}

	&-title {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.875rem;
		font-weight: 600;
		line-height: 2rem;
	}
}
