.loading-page {
	&-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		justify-content: center;
		width: 100%;
	}

	&-text {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;

		&-container {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
